[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch"

[packages]
django = "*"
djangorestframework = "*"
psycopg = {extras = ["pool", "binary"], version = "*"}
torch = {index = "pytorch", version = "*"}
keras = "*"
python-dotenv = "*"

[dev-packages]
notebook = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"

[requires]
python_version = "3.11"
